@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empresa</h1>
    <br/>
    <br/>
    <h2>AZ Soluções Logísticas</h2>
    <br/>
    <p>Sua segurançã de A a Z</p>
    <br/>
    <br/>
    <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" role="button" asp-controller="Pedido" asp-action="Create">Cadastrar Pedido</a>
    </div>
    </div>
</div>
